:root {
  --background: linear-gradient(135deg, #d63c167a 0%, #2f40557a 100%);
  /* --background: linear-gradient(135deg, #2f7ee67a 0%, #d63c167a 100%); */
  }

*{
    font-size:.95rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding:0;
    margin: 0;
}

body {
    max-width:1366px;
    max-height: 768px;
    margin: 0px auto;
    font-size:15px;
}

.container{
  padding: 20px !important; 
}

.card-body{
    background-image: var(--background),url('../images/imagendefondoheader.jpg');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
    position: relative;
    height:350px;
}

.titulo{
    font-size:3rem;
    letter-spacing: 0.073em;
    font-weight:800;
    text-align: center;
    color:#ffffff;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);

}

.form__vehiculos{
  background: #f1f1f1;
}

input:invalid {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d3a2a3 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d3a2a3 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d3a2a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3a2a3',GradientType=0 );
  }
  
  input:invalid:required {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #fcffdd 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fcffdd 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#faffc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcffdd',GradientType=0 );
  }
  
